@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Roboto Mono", "Poppins", sans-serif;
  src: url("../src/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
    url("../src/assets/fonts/RobotoMono/RobotoMono-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Roboto Mono", "Poppins", sans-serif;
  font-size: 0.97rem;
}
